*{
    list-style: none;
}
body {
    max-width: 960px;
    margin-top: 0px;
}

.navsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.login {
    color: blue;
    margin: 0px 15px 0px 30px;
}

.getstarted {
    background-color: rgb(77, 77, 255);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

#rd {
    color: rgb(86, 86, 255);
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
}

.half-width {
    width: 50%;
    float: left;
    margin: 20px auto;
    align-items: center;
}

.img2 {
    width: 100%;
}

.features img {
    width: 85%;
}

.fram1 {
    width: 12px;
    height: 12px;
}

.fun3 {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 16px;
    color: #223140;
}

.benefits {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 80px;
}

.component {
    width: 170px;
    box-shadow: 3px 3px 15px grey;
    border-radius: 5px;
    margin: 10px;
    padding: 0px 15px;
}

.component h3 {
    color: rgb(34, 49, 64, 1);
}

.component p {
    color: rgba(83, 85, 88, 1);
}

.features {
    padding-top: 80px;
}

.features-h2-p {
    text-align: center;
    margin-bottom: 70px;
}

.fun3 h3 {
    color: rgb(68, 68, 255);
}

.box {
    width: 80px;
    height: 80px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(207, 207, 207);
    border-radius: 5px;
    position: relative;
}

.box-group-2 {
    position: relative;
    top: 30px;
}

.box-group-4 {
    position: relative;
    bottom: 20px;
}

#container {
    display: flex;
}

.boximg {
    position: absolute;
    margin: 15px 15px;
    width: 60%;
}

#boxs {
    margin: 11px 10px;
    width: 70%;
}

#boxd {
    position: relative;
}

.costomer {
    position: relative;
    top: 80px;
}

.div12 {
    text-align: center;
    margin: 20px 0px 100px 0px;
}

.feedback {
    width: 270px;
    height: 280px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(173, 173, 173);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}

.feedback img {
    margin-top: -50px;
}

.feedback h3 {
    color: rgba(83, 85, 88, 0.5);
}

.feedback .blackh3 {
    color: black;
}

.awards {
    display: inline-flex;

}

.awarddiv {
    text-align: center;
    margin: 120px 30px 40px 30px;
    padding: 9px;
}

.awarddiv h2 {
    color: #094BCA;
    ;
}

.awarddiv p {
    color: #223140;
    font-size: 17px;
}

.div30 {
    width: 310px;
    height: 300px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(202, 202, 202);
    border-radius: 5px;
}

.divh2 {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 100px;
}

.textp {
    padding: 10px;

}

.ap {
    background-color: rgba(19, 97, 245, 0.1);
    color: rgba(9, 75, 202, 1);

}

.ar {
    color: #094BCA;
    padding: 0px;
    position: relative;
    top: 5px;

}

.divpa {
    display: grid;
    grid-template-columns: 330px 1fr 1fr;
}

.imgh {
    width: 150px;
    height: 100px;
}

.footerimg {
    box-shadow: 2px 2px 10px rgb(153, 153, 153);
    width: 330px;
    height: 100px;
    text-align: left;
    font-size: 13px;
    
}

footer{
    padding: 80px 13% 100px;
}

.div101{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 15px;
    background: rgba(217, 217, 217, 0.1);
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: left;
    

}