body {
    max-width: 960px;
    margin-top: 0px;
}

.navsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.login {
    color: blue;
    margin: 0px 15px 0px 30px;
}

.getstarted {
    background-color: rgb(77, 77, 255);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

#rd {
    color: rgb(86, 86, 255);
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
}

.half-width {
    width: 50%;
    float: left;
    margin: 20px auto;
    align-items: center;
}

.img2 {
    width: 100%;
}

.features img {
    width: 85%;
}

.fram1 {
    width: 12px;
    height: 12px;
}

.fun3 {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 16px;
    color: #223140;
}


.benefits {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 80px;
}

.component {
    width: 170px;
    box-shadow: 3px 3px 15px grey;
    border-radius: 5px;
    margin: 10px;
    padding: 0px 15px;
}

.component h3 {
    color: rgb(34, 49, 64, 1);
}

.component p {
    color: rgba(83, 85, 88, 1);
}

.features {
    padding-top: 80px;
}

.features-h2-p {
    text-align: center;
    margin-bottom: 70px;
}

.fun3 h3 {
    color: rgb(68, 68, 255);
}